.contacts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 200px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bcd0d1;
  border: 5px solid #9cb0b1;
  border-radius: 20px;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 20px;
}

